{#
    Add missing default bind
#}
{% set default_settings = {
    'redis': {
        'database_count': 16,
        'port': 6379,
        'masterauth': 'r3d1sp@ssw0rd',
		'passwd': 'R3d1sCl13n7'
    }
}%}


{# Update settings defaults from pillar data #}
{% set redis_settings = salt['pillar.get']('redis', default=default_settings.redis, merge=True) %}
