{% set default_settings = {
    'tomcat': {
        'shutdown_port': '8005',
        'http_port': 8080,
        'http_timeout': 2000,
        'version': '8.0.21'
            }
}%}


{# Update settings defaults from pillar data #}
{% set tomcat_settings = salt['pillar.get']('tomcat', default=default_settings.tomcat) %}
